@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Archivo+Narrow&family=Barlow+Condensed&family=Bebas+Neue&family=Fjalla+One&family=Julius+Sans+One&family=Luckiest+Guy&family=Macondo&family=Noto+Sans:wght@300;400&display=swap');

body {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;

    font-family: 'Amatic SC', cursive;
    display: grid;
    grid-template-columns: 1.5fr 5fr 1.5fr;
    grid-template-rows: auto 8fr;
    //min-height:98vh;
}

input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #483d8b;
    font-size: 1.25rem;
    font-family: 'Barlow Condensed', sans-serif;
    background: transparent;

}

.header {
    grid-column: 1/4;
    box-shadow: 0 4px 1px #6ee7b7;
    text-align: center;
}

.submit-menu {
    grid-row: 2/3;
    margin: 4px;
}

.header-title {
    font-size: 6rem;
}

.secondary-title{
    font-size:1.5rem;
}

form
{
    display: flex;
    flex-direction: column;
    display: grid;
    padding: 8px;
    font-size: 1.25rem;
    font-weight: bold;
}

.material-symbols-outlined{
    padding: 4px;
}

.page-button{
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #483d8b;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.add-to-library{
    margin-top: 1rem;
}

.submit-menu-title{
    text-align: center;
    font-size:2.5rem;
    font-weight: bold;
}

.book-submitted-title{
    text-align: center;
    font-size:2.5rem;
    font-weight: bold;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(250px, 1fr));
    background-color: #ffe6e6;
    margin: 4px;

}

.books-submitted {
    margin: 4px;
    font-size: 1.25rem;
    font-weight: bold;
}

button{
    border: none;
}

.book{
    color: white;
    display: grid;
    height: 400px;
    width: auto;
    text-align: center;
    align-items: center;
    margin: 1rem;
    border-radius: 0 5px 5px 0px;
    box-shadow: 5px 6px 4px gray;
    background: linear-gradient(to right, 
    transparent 5%, 
    transparent calc(5% - 0.81px), 
    lightblue calc(5% - 0.8px), 
    lightblue calc(5% + 0.8px), 
    transparent calc(5% + 0.81px), 
    transparent 100%); 
    background-color: #005f69;
}

.tile-buttons{
    display: flex;
    justify-content:space-evenly;
}

.unique-index{
    display: none;
}

.toggle {
    --width: 50px;
    --height: calc(var(--width)/2);
    --border-radius: calc(var(--height)/2);

    display: inline-block;
    cursor: pointer;
}

.toggle__input:checked ~ .toggle__fill {
    background-color: #009578;
}

.toggle__input {
    display: none;
}

.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background:grey;
    transition: background 0.2s;
}

.toggle__fill::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.25); 
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
}

.info-button{
    display: flex;
    justify-content: center;
}


.modal {   
    max-width: 150ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    font-family: 'Barlow Condensed', sans-serif;
}

.modal p{
    height: auto;
    margin: 0.5rem 0.5rem 0 0;
}

.modal-header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header-row h4{
    height: auto;
    font-size: 1.5rem;
    margin: 0;
}

.modal::backdrop {
    background: rgb(0 0 0 / .4);
}

.tile-title {
    font-size: 2.5rem;
    padding: 1rem;
}

.tile-author {
    font-size: 1.75rem;
}

.tile-status{
    font-size: 1.5rem;
    font-weight: bold;
}

.tile-pages{
    font-size: 1.5rem;
}